# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
public/npm-debug.log
Gemfile.lock
npm-debug.log
config/database.yml
config/mongoid.yml
/.idea/
.idea/*
.idea/workspace.xml
/.idea/workspace.xml
kalpesh*.*
Kalpesh*.*
db/schema.rb

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
public/uploads/*
StartMongoDB.bat

custom_plan.rb
zeus.json
vendor/bundle/
lib/tasks/auto_annotate_models.rake
vendor/cache/
.DS_Store

config/initializers/fluent_logging.rb
config/unicorn.rb
config/unicorn
public/courses/
public/nfhs_stage_db/
public/dump/
public/assets/
*.dump
*.sql